[submodule "tmux/tmux-powerline"]
    path = tmux/tmux-powerline
    url = https://github.com/erikw/tmux-powerline.git
[submodule "prompt/pureline"]
    path = prompt/pureline
    url = https://github.com/chris-marsh/pureline.git
[submodule "prompt/powerline"]
    path = prompt/powerline
    url = https://github.com/justjanne/powerline-go.git
[submodule "nano/nanorc"]
    path = nano/nanorc
    url = https://github.com/scopatz/nanorc.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
