[submodule "nano/nano"]
	path = nano/nano
	url = https://github.com/scopatz/nanorc
[submodule "powerline"]
	path = powerline
	url = https://github.com/justjanne/powerline-go.git
[submodule "prompt/powerline"]
	path = prompt/powerline
	url = https://github.com/justjanne/powerline-go.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
