<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localizedName</key>
	<string>Mac Mini</string>
	<key>name</key>
	<string>macmini.local</string>
	<key>state</key>
	<string>Turned off</string>
</dict>
</plist>
